// Colors

$white: #ffffff;
$white1: #ececec;
$black: #000000;
$grey: #808080;
$grey2: #d1d1d1;

$header-background-color: $white;
$section-background-color1: $grey;
$section-background-color2: $grey2;
$main-font-color: $black;
$btn-background-color: $white;
$btn-hover-background-color: $black;
$btn-hover-color: $white;
$btn-border-color: $black;



// Fonts

$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$main-font-family: $montserrat;


// Size

$font-size16: 16px;
$font-size19: 19px;
$font-size24: 24px;
$font-size60: 60px;

$line-height18: 18px;
$line-height34: 34px;


$h1-font-size: $font-size60;

$main-font-size: $font-size24;





