// Colors

$white: #ffffff;
$white1: #ececec;
$black: #000000;
$grey: #808080;
$grey2: #d1d1d1;




// Fonts

$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$main-font-family: $montserrat;


// Size



$h1-font-size: 60px;

$main-font-size: 24px;





