// Colors

$pink: Pink;
$white: #ffffff;
$white1: #ececec;
$black: #000000;

$background-color: $white;
$main-font-color: $black;
$btn-background-color: $pink;
$btn-hover-background-color: $white1;
$btn-hover-color: $pink;
$menu-item-color: $black;


$btn-color: $white;


// Fonts

$roboto: 'Roboto', sans-serif;

$main-font-family: $roboto;


// Size

$font-size16: 16px;
$font-size24: 24px;
$font-size19: 19px;

$line-height18: 18px;
$line-height34: 34px;



$main-font-size: $font-size16;
$title-font-size: $font-size24;
$btn-font-size: $font-size19;


$main-line-height: $line-height18;
$title-line-height: $line-height34;



