@import "_media";
@import "_fonts";
@import "_normalize";
@import "_reset";
@import "_slick-theme";
@import "_slick";
@import "_variables";


body {
    font-family: $main-font-family;
}

.header{
    background-color: $white;
    padding: 16px 32px;
    opacity: 90;
    &.not-top {
        top: 0;
        opacity: 90%;
        position: sticky;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        }
    &-block {
        width: 50%;
        display: flex;
        text-align: center;
        align-items: center;
    }
    &-logo {
        text-decoration: none;
        color: inherit;
        font-weight: 700;
        & img {
            width: 200px;
        }
    }
    &-title {
        font-size: $h1-font-size;
    }
    &-text {
        font-size: $font-size24;
    }
}

.wrapper{
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    font-size: $font-size19;
    background-color: transparent;
    font-weight: 700;
    padding: 8px 16px;
    transition: .7s;
    margin-left: 4px;
    text-transform: uppercase;
    cursor: pointer;
    height: 24px;
    align-items: center;
    &:first-child {
        margin: 0;
    }
    & a {
        color: inherit;
        text-decoration: none;
    }
    &-block {
        display: flex;
        justify-content: center;
    }
}

.btn-black{
    color: $black;
    border: solid 4px $black;
    &:hover {
        color: $white;
        background-color: $black;
    }

}

.btn-white {
    color: $white;
    border: solid 4px $white;
    &:hover {
        color: $black;
        background-color: $white;
    }
}

.h2-white,
.h3-white{
        color: $white;
}

h3 {
        font-size: $font-size24;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-weight: 700;
}

.p-white{
        font-size: $font-size24;
        line-height: 30px;
        color: $white;
}
.h2-black{
        color: $black;
}
.p-black{
        font-size: $font-size24;
        line-height: 30px;
        color: $black;
}
.bg-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
}

.center {
        margin: 0 auto 30px;
        text-align: center;
}

.section {
    &#main{
        background-color: $grey2;
    }
    &#style{
        background-color: $grey2;
    }
    &#team {
        background-color: $grey2;
        padding: 50px 0;

    }
    &#studio {
        background-color: $grey;
    }
    &#partners {
        background-color: $grey;
    }
    &#service {
        background-color: $grey;
        padding: 50px 0;
    }

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &-block {
        width: 50%;
        text-align: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-content {
        max-width: 80%;
    }
    &-title  {
        font-size: $font-size60;
        text-transform: uppercase;
        font-weight: 700;
        padding: 30px 0 40px 0;
    }
    
    &-text {
        font-size: $font-size24;
        margin-bottom: 16px;
        line-height: 30px;
        padding-bottom: 40px;
    }

}

.slider {
    width: 50%;
}

.team {
    &-item {
        max-width: 30%;
        & img {
            width: 100%;
        }
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__block {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            &_content {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
            &_link{
                margin-left: 20px;
                transition: .8s;
                border-radius: 14px;

                & img {
                    height: 48px;
                }
                & .link-black {
                    display: block;
                }
                & .link-white {
                    display: none;
                }
                &:hover {
                    background-color: $black;
                    border-radius: 12px;
                    border: 1px solid $black;
                    & .link-black {
                    display: none;
                }
                    & .link-white {
                    display: block;
                }

                }
        }
        }
    }
}

.tabs {
    max-width: 100%;
    margin: 0 auto;
    &__caption {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        list-style: none;
        position: relative;
        margin: -1px 0 0 -1px;
        & li:not(.active) {
            cursor: pointer;
        }
        & li {
            padding: 9px 15px;
            margin: 1px 0 0 1px;
            position: relative;
            border-width: 2px 2px 0;
            text-align: center;
        }
        & li:last-child:before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            right: -2px;
            z-index: -1;
            height: 5px;
        }
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }
} 
        
        







.tabs__caption li:not(.active):hover {
    color: $black;
    background-color: $white;
}


.tabs__caption .active {
    color: $black;
    background-color: $white;}

.tabs__caption .active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
}

.tabs__content {
    display: none;
    height: 100%;
    background: $white;
    color: $black;
    padding: 7px 15px;
    font-size: $font-size24;
    line-height: 30px;
    border: solid 4px $white;
}

.tabs__content.active {
    display: block;
}

.vertical .tabs__caption {
    float: left;
    display: block;
}

.vertical .tabs__caption li {
    float: none;
}

.vertical .tabs__caption li:last-child:before {
    display: none;
}

.vertical .tabs__caption .active:after {
    left: auto;
    top: 0;
    right: -2px;
    bottom: 0;
    width: 2px;
    height: auto;
}

.vertical .tabs__content {
    overflow: hidden;
}

@media screen and (max-width: 650px) {
    .tabs__caption li {
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
    .vertical .tabs__caption {
        float: none;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .vertical .tabs__caption li {
        border-width: 2px 2px 0;
        border-radius: 5px 5px 0 0;
    }
    .vertical .tabs__caption li:last-child:before {
        display: block;
    }
    .vertical .tabs__caption .active:after {
        top: auto;
        bottom: -5px;
        left: 0;
        right: 0;
        width: auto;
        height: 5px;
        background: #FFF;
    }
}

.footer{
    background-color: $black;
    & a{
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            transition: .7s;
            color: $grey2;
        }
    }
    & .wrapper{
        padding: 50px 20px;
        display: flex;
        justify-content: space-between;
    }
    &-block {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        & .location {
            width: 50%;
        }
        & .name {
            width: 30%;
        } 
        }
        &-logo {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;
        }

        &-logo__link {
            margin: 0 auto;
            & img {
                width: 200px;
            }
        }
    
    }
.adress {
    display: flex;
    justify-content: space-between;
}
.mape {
    padding: 20px 0;
}
.video {
    padding: 20px;
}
.copy-right {
    background-color: $white;
    text-align: center;
    padding: 20px 0;
    & a {
        color: $black;
        text-decoration: none;
    }
}
.name-item {
    font-size: $font-size24;
    padding: 20px 0;
    & a {
        color: $white;
        text-decoration: none;
    }
}