@import "_media";
@import "_fonts";
@import "_reset";
@import "../scss/icomoon";
@import "../../node_modules/normalize.css/normalize";
@import "_variables";
@import "../../node_modules/slick-carousel/slick/slick";
@import "../../node_modules/magnific-popup/dist/magnific-popup";
@import "../../node_modules/normalize.css/normalize";


body {
    font-family: $main-font-family;
}


.wrapper{
    margin: 0 auto;
    padding: 30px 20px;
}

.arti {
    text-transform: uppercase;
}

.header{
    background-color: $white;
    backdrop-filter: saturate(100%) blur(5px);
    opacity: 0.9;
    width: auto;
    top: 0;
    left: 0;
    z-index: 99;
    position: sticky;
    &-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & :last-child {
            justify-content: right;
        }
    }
    &-block {
        width: 50%;
        display: flex;
        text-align: center;
        align-items: center;
    }
    &-logo {
        & img {
            width: 200px;
        }
    }
}

.display-none {
    display: none;
}

.menu {
    display: none;
    padding-top: 40px;
    &-list {
        display: flex;
    }
    &-link {
        text-transform: uppercase;
    }
}

.stop-scroll {
    overflow: hidden;
}

.burger {
    display: none;
    position: relative;
    width: 40px;
    height: 23px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    &-line {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 4px;
        border-radius: 1px;
        background-color: black;
        transform: translateY(-50%);
    }
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 1px;
        height: 4px;
        background-color: black;
        transition: transform .3s ease-in-out, top .3s ease-in-out;
    }
    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 1px;
        height: 4px;
        background-color: black;
        transition: transform .3s ease-in-out, bottom .3s ease-in-out;
    }
}


.btn {
    display: flex;
    justify-content: center;
    font-size: 19px;
    background-color: transparent;
    font-weight: 700;
    padding: 8px 16px;
    transition: .7s;
    margin-left: 4px;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    text-align: center;
    & a {
        color: inherit;
        text-decoration: none;
    }
    &-block {
        display: flex;
        justify-content: center;
    }
}

.btn-black{
    color: $black;
    border: solid 4px $black;
    &:hover {
        color: $white;
        background-color: $black;
    }

}

.btn-white {
    color: $white;
    border: solid 4px $white;
    &:hover {
        color: $black;
        background-color: $white;
    }
}

.h2-white,
.h3-white{
        color: $white;
}

.h2-black{
    color: $black;
}

h3 {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-weight: 700;
}

.p-white{
        font-size: 24px;
        line-height: 30px;
        color: $white;
}
.p-black{
        font-size: 24px;
        line-height: 30px;
        color: $black;
        margin: 0;
}
.bg-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
}

.center {
        margin: 0 auto 30px;
        text-align: center;
}

.section {
    &#main,
    &#style,
    &#team,
    &#gallery,
    &#comment
    {
        background-color: $grey2;
    }
    &#team {
        padding: 50px 0;

    }
    &#studio,
    &#partners,
    &#service
    {
        background-color: $grey;
    }
    &#service {
        padding: 50px 0 100px;
    }
    &-content {
        padding: 0 20px;
    }
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-block {
        width: 50%;
        min-width: 600px;
        text-align: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-title  {
        font-size: 60px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 30px 0 40px 0;
    }
    
    &-text {
        font-size: 24px;
        margin-bottom: 16px;
        line-height: 30px;
        padding-bottom: 40px;
    }

}

.aspect-square {
    aspect-ratio: 1/1;
}

.image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.slider {
    width: 50%;
    &-item {
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    
    }
}


.team{
    &-wrapper{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
    }
    &-unit{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        width: 30%;
        min-width: 200px;
        &__img {
            margin-bottom: 20px;
            & img {
                width: 100%;
            }
        }
        &__info{
            &_name{
                margin-bottom: 20px;
            }
            &_links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                & a {
                    transition: .7s;
                    &:hover {
                        // color: $white;
                        filter: drop-shadow(0 0 5px $black);
                    }
                }
            }


        }
    }
}


.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $grey2;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: scroll;
    transition: .64s ease-in-out;
    &-inner {
        position: relative;
        bottom: -100vw;
        right: -100vh;
        display: flex;
        align-items: center;
        max-width: 800px;
        max-height: 600px;
        background-color: $grey2;
        transform: rotate(32deg);
        transition: .64s ease-in-out;
    }
    &-img {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        overflow: hidden;
        &  img {
            min-width: 250px;
            height: 100%;
            padding: 5px
        }
    }
    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 10px;
        & h2 {
            margin-bottom: 10px;
        }
        & p {
            margin-bottom: 30px;
        }
    }
    &:target {
        visibility: visible;
        opacity: 1;
        & .popup-inner {
            // bottom: 0;
            top: 0;
            right: 0;
            transform: rotate(0);
        }
    }
    &-socialmedia {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo-white {
            display: none;
        }
        &__link{
            transition: .7s;
            & img {
                width: 40px;
                height: 40px;
            }
            &:hover {
                background-color: $black;
                & .popup-socialmedia__logo-black {
                    display: none;
                }
                & .popup-socialmedia__logo-white {
                    background-color: $black;
                    border-radius: 11px;
                    display: block;
                    filter: drop-shadow(0 0 5px $black);
                }
            }
        }
        &__item {
            &:not(:first-child){
                padding-left: 10px;
            }    
        }
    } 
    &-btn{
        &-wrapper{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
    }
}

.closepopup {
    width: 20px;
    height: 30px;
    background-color: $grey2;
    color: $black;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: .7s;
    border-radius: 50%;
    border: 2px solid $black;
    &:hover{
        background-color: $black;
        color: $white;
    }
    &-wrapper {
        display: flex;
        justify-content: right;
    }
}




.gallery{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    &-item{
        position: relative;
        display: block;
        width: 200px;
        height: 150px;
        background-position: center;
            background-size: cover;
        &__title{
            display: block;
            position: absolute;
            bottom: 10px;
            font-size: 16px;
            font-weight: 700;
            color: $black;
            text-transform: uppercase;
            background-color: $white;
            padding: 0 10px;
        }
        &__cover{
            display: block;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0.35;
            transition: 0.7s;
        }
        &:hover {
            .gallery-item__cover{
                display: none;
            }
        }
        &__text {
            display: none;
            font-size: 16px;
            color: $black;
            text-transform: uppercase;
            background-color: $white;
            padding: 0 10px;
        }
    }
}


.tabs {
    max-width: 100%;
    margin: 0 auto;
    &__caption {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        list-style: none;
        position: relative;
        margin: -1px 0 0 -1px;
        & li:not(.active) {
            cursor: pointer;
        }
        & li {
            padding: 9px 15px;
            margin: 1px 0 0 1px;
            position: relative;
            border-width: 2px 2px 0;
            text-align: center;
        }
        & li:last-child:before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            right: -2px;
            z-index: -1;
            height: 5px;
        }
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }
} 
        
        







.tabs__caption li:not(.active):hover {
    color: $black;
    background-color: $white;
}


.tabs__caption .active {
    color: $black;
    background-color: $white;}

.tabs__caption .active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
}

.tabs__content {
    display: none;
    height: 100%;
    background: $white;
    color: $black;
    padding: 7px 15px;
    font-size: 24px;
    line-height: 30px;
    border: solid 4px $white;
}

.tabs__content.active {
    display: block;
}

.vertical .tabs__caption {
    float: left;
    display: block;
}

.vertical .tabs__caption li {
    float: none;
}

.vertical .tabs__caption li:last-child:before {
    display: none;
}

.vertical .tabs__caption .active:after {
    left: auto;
    top: 0;
    right: -2px;
    bottom: 0;
    width: 2px;
    height: auto;
}

.vertical .tabs__content {
    overflow: hidden;
}


.comment {
    &-slider{
        width: 500px;
        margin: 0 auto;
        &__item{
            position: relative;
            background-color: #ececec;
            padding: 20px;   
            &_text{
                color: #827e7d;
                padding: 30px;
                line-height: 24px;            
            }
            &_namer,
            &_date{
                color: #827e7d;
                padding: 0 30px;            
            }     
        }
    }
}


.icon-quotes-right {
    content: '';
    color: #827e7d;
    position: absolute;
    font-size: 50px;
    top: 20px;
    left: 30px;
    font-size: 20px;
    z-index: 99;
}

.icon-quotes-right:before {
    content: "\e978";
}


.footer{
    background-color: $black;
    & a{
        text-decoration: none;
    }
    & .wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-block {
        & .location {
            width: 50%;
        }
        & .name {
            width: 30%;
        } 
        }
        &-logo {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;
            & a {
                margin: 0 auto;
            }

            & img {
                width: 200px;
            }
        }
    }
.adress {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.mape {

    padding: 20px 0;
    & iframe {
        width: 100%;
    }
}
.video {
    padding-left: 20px;
    & video {
        width: 100%;
    }
}
.name-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 30px;
    max-width: max-content;
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 30px;
    }
    &__link{
        &_img{
            max-width: 30px;
            height: 25px;
            border-radius: 2px;
            &:last-child{
                margin-left: 20px;
            }
        }
    }
}

.copy-right {
    background-color: $white;
    text-align: center;
    padding: 5px 0;
    & a {
        color: $black;
        text-decoration: none;
        transition: .7s;
        &:hover {
            filter: drop-shadow(0 0 5px $black);
        }
}
}

